/*h1 {
   color: red;
}*/

li {
   color: cornflowerBlue;
}

h4 {
   color: #ff1493;
}

h1 {
   color: rgb(0, 255, 20);
   /*border-color: purple;
   border-width: 5px;
   border-style: solid;*/

   border: 8px dashed rgba(255, 100, 30, .7);
}

h4 {
   color: rgba(255, 0, 0, 0.5);
   background-color: turquoise;
}

body {
   background: pink;
   /*background: url(https://mohawk.scene7.com/is/image/MohawkResidential/TAD16594?);
   background-repeat: no-repeat;
   background-size: cover;*/
}
